.App {
  background-color: #ffffff;
  max-width: 600px;
  margin-inline: auto;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App > * {
  margin-bottom: 2rem;
}

.list__item {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid #000000;
  border-radius: 0.25rem;
}
