.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  background-color: #ffffff;
  max-width: 600px;
  margin-inline: auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list__item {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid #000000;
  border-radius: 0.25rem;
}
